.service-section{
    padding-bottom: 50px;
}

.service-top{
    text-align: center;
    padding-bottom: 18px;
}

.service-top .service-logo img{
    padding-bottom: 10px;
}

.service-top .service-title h2{
    color: var(--primary-color);
    font-size: 45px;
    font-family: var(--font-cormorant);
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.service-top .service-title p{
    color: #848b8a;
    font-family: var(--font-rubik);
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.service-card{
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    width: 320px;
}

.service-card:hover .service-title{
    visibility: hidden;
}

.service-card:hover .hidden-desc{
    visibility: visible;
    opacity: 0.9;
    right: 0;
    top: 0;
}


.hidden-desc{
    visibility: hidden;
    position: absolute;
    right: -20%;
    top: -20%;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9af8f;
    transition: all .6s ease-in-out;
}

.hidden-desc h4{
    font-size: 27px;
    font-family: var(--font-cormorant);
    font-weight: bold;
    color: var(--section-bg);
    padding-bottom: 20px;
}

.hidden-desc p{
    padding: 0px 40px;
    padding-bottom: 30px;
}

.hidden-desc button{
    color: var(--primary-bg-color);
    background-color: var(--section-bg);
    font-family: var(--font-rubik);
    transition: all .4s ease-in-out;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 13px;
    padding: 22px 50px;
    border-radius: 3px 42px 42px
}

.hidden-desc button:hover {
    color: var(--section-bg);
    background-color: var(--primary-bg-color);
}

.service-card .service-title{
    display: block;
    transition: all .3s ease-in-out;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.service-card img{
    max-width: 100%;
}

.service-card .service-title p{
    display: inline-block;
    font-size: 25px;
    font-family: var(--font-cormorant);
    font-weight: bold;
    padding: 15px 18px;
    width: 255px;
    background: var(--primary-bg-color);
}

.service-card .service-title .icon{
    display: inline-block;
    text-align: center;
    background-color: var(--heading-color);
    padding: 15px 18px;
    width: 65px;
}

.service-section .col-lg-4 {
    display: flex;
    justify-content: center;
}

@media (max-width:1200px) {
    .service-card .service-title .icon {
        padding: 15px 13px;
        width: 61px;
    }
    .service-card .service-title p {
        font-size: 23px;
        padding: 15px 18px;
        width: 235px;
    }
}

@media (max-width: 1200px) {
    .service-card {
        width: 255px;
    }
    .service-card .service-title p {
        font-size: 21px;
        width: 205px;
    }
    .service-card .service-title .icon {
        width: 50px;
    }
}

@media (max-width: 991px) {
    .service-card .service-title p {
        font-size: 20px;
    }
    .service-top .service-title h2 {
        font-size: 35px;
    }
    .service-top .service-title p {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .service-section .col-12 {
        display: flex;
        justify-content: center;
    }
    .hidden-desc button {
        padding: 18px 40px;
        font-size: 12px;
    }
    .hidden-desc p {
        font-size: 14px;
    }
}

@media (max-width:575px) {
    .service-top .service-title h2 {
        font-size: 26px;
    }
    .service-section {
        padding-bottom: 20px;
    }
}

@media (max-width: 380px) {
    .service-top .service-title h2 {
        font-size: 24px;
    }
    .service-card{
        width: 230px;
    }
    .service-card .service-title p {
        padding: 15px 15px;
        font-size: 18px;
        width: 180px;
    }
    .service-card .service-title .icon {
        width: 50px;
    }
    .service-card .service-title .icon svg{
        height: 24px;
    }
    .hidden-desc h4 {
        font-size: 24px;
        padding-bottom: 12px;
    }
    .hidden-desc p {
        font-size: 13px;
        padding: 0px 20px;
        padding-bottom: 30px;
    }
    .hidden-desc button {
        padding: 16px 30px;
        font-size: 11px;
    }
}