.case-section {
    background-repeat: no-repeat;
    padding-top: 210px;
    padding-bottom: 100px;
}

.case-carousel {
    margin-bottom: -210px;
    position: relative;
}

.case-carousel .owl-carousel .owl-item .case-img {
    transform: scale(0.9);
    opacity: 0.8;
    transition: all 0.3s;
}

.case-carousel .owl-item.active.center .case-img {
    padding: 0px 10px;
    transform: scale(1.15);
    opacity: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 5px;
    opacity: 1;
    font-size: 40px !important;
    z-index: 1;
    transition: all 0.3s;
    transform: scale(1);
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 30px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: transparent;
    transform: scale(1.15);
}

.owl-nav .owl-prev::after {
    position: absolute;
    content: '';
    top: 35%;
    left: 0;
    opacity: 1;
    z-index: 2;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.owl-nav .owl-prev:hover::after {
    border: 3px solid #FFF;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 5px;
    opacity: 1;
    font-size: 40px !important;
    z-index: 1;
    transition: all 0.3s;
    transform: scale(1);
}

.owl-nav .owl-next::after {
    position: absolute;
    content: '';
    top: 35%;
    right: 0;
    opacity: 1;
    z-index: 2;
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.owl-nav .owl-next:hover::after {
    border: 3px solid #FFF;
}

.case-carousel .owl-item.active.center .case-title {
    left: 0%;
    bottom: 5%;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 835px) {
    .case-section {
        padding-bottom: 30px;
    }

    .case-carousel {
        margin-bottom: -150px;
    }
}

@media (max-width: 575px) {
    .case-carousel .owl-carousel .owl-item img {
        height: 250px;
    }

    .case-section {
        padding-bottom: 30px;
    }
}

@media (max-width:360px) {
    .case-carousel .owl-carousel .owl-item img {
        height: 210px;
    }
    .case-section {
        padding-bottom: 15px;
    }
}