.testimonial {
    background-image: url('../../../assets/image/feture-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 90px;
    padding-bottom: 400px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px 50px;
    margin-top: -180px;
    position: relative;
}

.testimonial .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.testimonial .logo span {
    font-size: 14px;
    font-family: var(--font-rubik);
    color: var(--primary-color);
    text-transform: uppercase;
}


.testimonial-carousel {
    padding-bottom: 90px;
    margin-left: 145px;
    margin-right: 145px;
    margin-top: -407px;
}

.testimonial-card .testimonial-top {
    padding: 33px 33px;
    background-color: var(--section-bg);
    position: relative;
}

.testimonial-top .testimonial-img {
    display: flex;
    justify-content: space-between;
}

.testimonial-top .testimonial-img .t-img-left {
    display: flex;
    gap: 4px;
}

.testimonial-top .testimonial-img .t-img-left img {
    width: 18px !important;
    height: 18px;
}

.testimonial-top .testimonial-img .t-img-right img {
    width: 100px !important;
    position: absolute;
    right: 18px;
}

.testimonial-top .testimonial-desc {
    padding-top: 25px;
    font-size: 18px;
    font-family: var(--font-rubik);
    color: #848b8a;
    text-align: justify;
}

.testimonial-bottom {
    background-color: var(--primary-bg-color);
    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 15px;
}

.testimonial-bottom img {
    width: 80px !important;
}

.testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 85px);
    left: -70px;
    opacity: 1;
    font-size: 45px !important;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.testimonial-carousel .owl-theme .owl-nav [class*='owl-prev'] {
    color: #1a786c;
    font-size: 30px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.testimonial-carousel .owl-theme .owl-nav [class*='owl-']:hover {
    background-color: transparent;
    transform: scale(1.15);
}

.testimonial-carousel .owl-nav .owl-prev::after {
    position: absolute;
    content: '';
    top: 33%;
    left: 0;
    opacity: 1;
    z-index: 2;
    border: 1px solid #1a786c;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.testimonial-carousel .owl-nav .owl-prev:hover::after {
    border: 3px solid #1a786c;
}

.testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 85px);
    right: -70px;
    opacity: 1;
    font-size: 45px !important;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.testimonial-carousel .owl-theme .owl-nav [class*='owl-next'] {
    color: #ee9a76;
    font-size: 30px;
    margin: 5px;
    padding: 4px 7px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.testimonial-carousel .owl-nav .owl-next::after {
    position: absolute;
    content: '';
    top: 33%;
    right: 0;
    opacity: 1;
    z-index: 2;
    border: 1px solid #ee9a76;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.testimonial-carousel .owl-nav .owl-next:hover::after {
    border: 3px solid #ee9a76;
}

@media (max-width: 1399px) {
    .testimonial {
        margin: 0px 0px;
        margin-top: -180px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .testimonial-carousel {
        padding-bottom: 70px;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: -382px;
    }

    .testimonial-card .testimonial-top {
        padding: 19px 19px;
    }

}

@media (max-width: 1200px) {

    .testimonial-top .testimonial-desc {
        padding-top: 13px;
        font-size: 15px;
    }

    .testimonial-bottom img {
        width: 60px !important;
    }

    .testimonial-bottom h4 {
        font-size: 18px;
    }

    .testimonial-bottom p {
        font-size: 14px;
    }

    .testimonial {
        padding-top: 60px;
        padding-bottom: 350px;
    }

    .testimonial-carousel {
        margin-top: -341px;
    }
}

@media (max-width: 991px) {
    .testimonial {
        margin: 0px 0px;
        margin-top: -180px;
        padding-left: 55px;
        padding-right: 45px;
    }
}

@media (max-width: 767px) {

    .testimonial {
        padding-top: 40px;
    }
}

@media (max-width: 450px) {
    .testimonial-carousel {
        padding-bottom: 75px;
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media (max-width: 390px) {
    .testimonial-carousel {
        margin-left: 55px;
        margin-right: 55px;
        margin-top: -306px;
    }

    .testimonial {
        padding-top: 60px;
        padding-bottom: 320px;
    }

    .testimonial-top .testimonial-desc {
        padding-top: 13px;
        font-size: 13px;
    }

    .testimonial-bottom {
        padding: 15px 15px;
    }

    .testimonial-bottom img {
        width: 50px !important;
    }

    .testimonial-bottom p {
        font-size: 12px;
    }
}