

.case-card .case-title {
    display: flex;
    align-items: center;
    position: absolute;
    height: 70px;
    width: 320px;
    font-size: 28px;
    left: -30%;
    bottom: -5%;
    padding-left: 15px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0.6;
    transition: all 0.5s ease-in;
    transform: scale(0.6);
    font-family: var(--font-cormorant);
    background: var(--section-bg);
    color: var(--primary-color);
}

.case-card .case-title::before {
    position: absolute;
    top: 0;
    left: 0px;
    content: '';
    height: 70px;
    width: 4px;
    background-color: var(--heading-color);
}


.case-card .case-title span {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: var(--primary-bg-color);
    color: var(--section-bg);
}

@media (max-width: 991px) {

    .case-card .case-title {
        position: absolute;
        height: 50px;
        width: 230px;
        font-size: 20px;
    }

    .case-card .case-title::before {
        position: absolute;
        height: 50px;
    }

    .case-card .case-title span {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 835px) {
    .case-card .case-title {
        position: absolute;
        height: 50px;
        width: 200px;
        font-size: 20px;
        padding: 10px 10px;
    }

    .case-card .case-title::before {
        position: absolute;
        height: 50px;
    }

    .case-card .case-title span {
        width: 28px;
        height: 30px;
    }

    .case-card .case-title span svg {
        height: 24px;
    }
}

@media (max-width:440px) {
    .case-card .case-title::before {
        height: 40px;
    }

    .case-card .case-title {
        height: 40px;
        width: 160px;
        font-size: 15px;
    }

    .case-card .case-title span svg {
        height: 20px;
    }

    .case-card .case-title span {
        width: 23px;
        height: 23px;
    }
}

@media (max-width:360px) {
    .case-card .case-title {
        height: 40px;
        width: 150px;
        font-size: 14px;
    }
}