.client-section{
    background-image: url('../../../assets/image/client-bg.png');
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.client-section .owl-carousel .owl-item img{
    width: 210px !important;
}

.client-section .owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}

.client-section .owl-carousel .owl-item img {
    margin: auto;
}
@media (max-width: 575px) {
    .client-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .client-section .owl-carousel .owl-item img {
        width: 190px !important;
    }
}