.client-section{
    background-image: url('../../../assets/image/client-bg.png');
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
}

.client-section .owl-carousel .owl-item img{
    width: 160px !important;
}

.client-section .owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}
@media (max-width: 1100px) {
    .client-section .owl-carousel .owl-item img{
        width: 145px !important;
    }
    .client-section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 991px) {
    .client-section .owl-carousel .owl-item img{
        width: 135px !important;
    }
}

@media (max-width: 575px) {
    .client-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .client-section .owl-carousel .owl-item img {
        width: 130px !important;
    }
}
@media (max-width: 610px) {
    .client-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .client-section .owl-carousel .owl-item img {
        width: 110px !important;
    }
}