.cost-section {
    padding-top: 70px;
    padding-bottom: 170px;
}

.cost-top {
    text-align: center;
    padding-bottom: 18px;
}

.cost-top .cost-logo img {
    padding-bottom: 10px;
}

.cost-top .cost-title p {
    color: #848b8a;
    font-family: var(--font-rubik);
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.cost-card .cost-img {
    position: relative;
    overflow: hidden;
}

.cost-card .cost-img div {
    position: absolute;
    top: 30px;
    right: -75px;
    width: 250px;
    font-family: var(--font-rubik);
    transform: rotate(45deg);
    text-align: center;
    padding: 10px 0px;
    background-color: var(--primary-bg-color);
}

.cost-card .cost-img img {
    border-bottom: 18px solid white;
    width: 100%;
}

.cost-card .cost-content {
    position: relative;
}

.cost-content .cost-price {
    position: absolute;
    top: -25%;
    left: 32.5%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--section-bg);
    border: 10px solid var(--heading-color);
    border-radius: 50%;
}

.cost-price h5 {
    font-family: var(--font-rubik);
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
}

.cost-price p {
    font-family: var(--font-rubik);
    color: #848b8a;
    font-size: 14px;
    text-transform: uppercase;
}


.cost-content .cost-desc {
    padding-top: 75px;
    text-align: center;
    background-color: #fbf7f3;
}

.cost-content .cost-desc h3 {
    font-size: 36px;
    font-family: var(--font-cormorant);
    font-weight: bold;
    color: var(--primary-color);
    padding-bottom: 20px;
}

.cost-content .cost-desc p {
    font-size: 16px;
    font-family: var(--font-rubik);
    color: #848b8a;
    padding: 0px 45px;
}

.cost-content .cost-desc .line {
    display: block;
    margin: 28px auto;
    width: 120px;
    height: 2px;
    background: linear-gradient(to left, #eae6e2 0%, #d7d3cf 20%, #d7d3cf 70%, #eae6e2 100%);
}

.cost-content .button{
    margin-bottom: -25px;
}

.cost-content .middle .button {
    color: var(--section-bg);
    background-color: var(--heading-color);
}

.cost-content .middle .button:hover {
    color: var(--section-bg);
    background-color: var(--primary-bg-color);
}

@media (max-width: 1200px) {
    .cost-content .cost-desc p{
        padding: 0px 20px;
    }
    .cost-content .cost-desc .line{
        margin: 22px auto;
    }
    .cost-content .cost-price{
        left: 26.5%;
    }
}

@media (max-width: 991px) {
    .cost-top .cost-title p {
        font-size: 13px;
    }

    .cost-card {
        margin-bottom: 60px;
    }

    .cost-section {
        padding-bottom: 60px;
    }
    .cost-content .cost-price{
        left: 28.5%;
    }
}

@media (max-width: 767px) {
    .cost-content .cost-desc h3 {
        font-size: 30px;
    }

    .cost-content .cost-desc p {
        font-size: 14px;
        padding: 0px 12px;
    }

    .cost-content .cost-price {
        left: 26%;
        width: 120px;
        height: 120px;
    }

    .cost-price h5 {
        font-size: 30px;
    }

    .cost-price p {
        font-size: 13px;
    }

    .cost-content .cost-desc {
        padding-top: 50px;
    }

    .cost-content .cost-desc .line {
        margin: 16px auto;
    }
}

@media (max-width: 575px) {
    .cost-content .cost-price {
        width: 140px;
        height: 140px;
        left: 36%;
    }
    .cost-content .cost-desc {
        padding-top: 75px;
    }
    .cost-content .cost-desc p {
        padding: 0px 60px;
    }
}

@media (max-width: 460px) {
    .cost-content .cost-desc p {
        padding: 0px 25px;
    }
    .cost-content .cost-price {
        left: 32%;
    }
}
@media (max-width: 380px) {
    .cost-content .cost-price {
        left: 34%;
        width: 140px;
        height: 140px;
    }
    .cost-content .cost-desc .line {
        margin: 15px auto;
    }
}
@media (max-width: 380px) {
    .cost-content .cost-price {
        left: 29%;
    }
    .cost-content .cost-desc p {
        padding: 0px 10px;
    }
}